
@mixin project-info {
    display: inline-block;
    padding: 0 10px 0 5px;
    border-radius: 4px;
    height: 20px;
    line-height: 20px;
}

@mixin main-font-family {
    font-family: 'Roboto', sans-serif;
}

$open-status: #30d28f;
$open-dark-status: #2cb97f;
$close-status: #79787e;
$close-dark-status: #5d5c61;

$font-size-content: 1.1em;
$font-size-header: 1.8em;

$text-color: #5e5c78;
$third-color: #6c66a6;

:host {
    display: flex;
    height: 100%;
    width: 100%;

    .project-detail-container {
        display: flex;
        flex-direction: column;
        flex: 1;
        position: relative;

        .header {
            display: inline-flex;
            justify-content: space-between;
            height: 70px;
            width: 100%;
            padding: 0 35px 0 20px;
            background-color: #fff;
            position: relative;
            z-index: 1000;
            box-shadow: 0 4px 4px rgba(0, 0, 0, .25) !important;
            position: relative;

            .right-site {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .home-btn {
                    display: inline-block;
                    position: absolute;
                    left: 10px;
                    top: 7px;
                    cursor: pointer;

                    i {
                        font-size: 1.5em;
                        color: $text-color;

                        &:hover {
                          color: $third-color;
                        }
                    }
                }

                .header-title-container {
                    flex: 0 1 auto;
                    min-width: 1px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    padding-left: 30px;

                    .header-title {
                        font-size: $font-size-header;
                        font-weight: 500;
                        line-height: 1.3;
                        color: $text-color
                    }

                    .open-status {
                        @include project-info;
                        padding: 0 10px;
                        background-color: $open-status;
                        color: #fff;
                        font-weight: 500;

                        &:hover {
                            background-color: $open-dark-status;
                        }
                    }


                    .close-status {
                        @include project-info;
                        padding: 0 10px;
                        background-color: $close-status;
                        color: #fff;
                        font-weight: 500;

                        &:hover {
                            background-color: $close-dark-status;
                        }
                    }
                }

                .nav.navbar-nav {
                    display: flex;
                    flex-direction: row;
                    padding-left: 15px;

                    li.nav-item {
                        padding: 0 15px;

                        .nav-link {
                            @include main-font-family;
                            font-size: $font-size-content;
                            height: 30px;
                            line-height: 30px;
                            color: $text-color;
                            padding: 0;

                            &:hover {
                                border-bottom: 2px solid $third-color;
                            }
                        }

                        .nav-link.active {
                            border-bottom: 2px solid $third-color;
                        }
                    }
                }
            }

        }

        .project-detail-content {
            position: relative;
            display: flex;
            flex: 1;
        }
    }
}
