<div class="project-item-container">
    <div class="project-info-container d-flex justify-content-end">
        <div class="amount-info">
            <span class="font-icon">
                <i class="fas fa-stream"></i>
            </span>
            <span>Tasks </span>
            <span>
                ({{ project.completedTaskCount }}/{{ project.taskCount }})
            </span>
        </div>
        <div class="amount-info ml-3">
            <span class="font-icon">
              <i class="far fa-user"></i>
            </span>
            <span>Members </span>
            <span>({{ project.memberCount }})</span>
        </div>
        <div class="amount-info ml-3">
            <span class="font-icon">
              <i class="fas fa-stopwatch"></i>
            </span>
            <span>Milestone </span>
            <span>({{ project.milestoneCount }})</span>
        </div>
        <div [ngClass]=" project.status === projectStatusType.open ? 'open-status ml-3' : 'close-status ml-3'">
            {{ projectStatus[project.status - 1].text }}
        </div>
    </div>

    <div class="project-detail-container d-flex">
        <div class="project-image-container">
            <span class="project-image-hover"></span>
            <a [routerLink]="['/project/', project.urlName]" class="d-block background-hover">
                <div *ngIf="project.imageUrl"
                        class="w-100 h-100 d-flex justify-content-center align-items-center">
                    <img [src]="project.imageUrl" height="80">
                </div>
                <div *ngIf="!project.imageUrl" class="project-name-container">
                    <div class="project-name-image">
                        <span>{{ project.projectName }}</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="project-detail ml-3">
            <div class="project-name" [routerLink]="['/project/', project.urlName]">
                <span>{{ project.projectName }}</span>
            </div>
            <div class="client-info">
                <span class="info-label">Client: </span>
                <span>{{ project.clientName }}</span>
            </div>

            <div class="d-flex flex-row">
                <div>
                    <span class="info-label">Start Date: </span>
                    <span>{{ project.startDate | date: 'mediumDate' }}</span>
                </div>
                <div class="ml-4">
                    <span class="info-label">End Date: </span>
                    <span>{{ project.endDate | date: 'mediumDate' }}</span>
                </div>
            </div>
            <div class="project-description">
                <span class="info-label">Description: </span>
                <span>{{ project.description }}</span>
            </div>
        </div>
    </div>
</div>

