@import "variables";

:host {
    .list-wrapper {
        width: 100%;
        background-color: $white-color;

        .list-container {
            width: 700px;
            margin: 0 auto;
            background-color: $white-color;
            padding-top: 3em;

            .list-project-container {
                height: calc(100vh - 210px);
            }
        }

        .button-container {
            padding-bottom: 1em;

            ::ng-deep .dx-button-has-text .dx-button-content {
                padding: 5px 10px;
            }

            ::ng-deep .dx-button-mode-contained .dx-icon {
                display: inline-block;
                width: 24px;
                margin-right: .2em;

                font-size: 1em;
                color: $text-color;
            }
        }
    }
}

::ng-deep .dx-list:not(.dx-list-select-decorator-enabled) .dx-list-item.dx-state-focused {
    background-color: #ccc;
}

