@import "variables";

:host {
    .list-wrapper {
        width: 100%;
        background-color: $white-color;

        .list-container {
            width: 700px;
            margin: 0 auto;
            background-color: $white-color;
            padding-top: 3em;

            .list-project-container {
                height: calc(100vh - 220px);
            }

            ::ng-deep dx-list {
                .dx-list-next-button {
                    display: none;
                }

                .dx-list .dx-empty-message, .dx-list-item-content {
                    padding: 25px 20px 25px 15px;
                }
            }

            ::ng-deep .dx-list:not(.dx-list-select-decorator-enabled) .dx-list-item.dx-state-hover {
                cursor: auto;
            }

            .btn-pagination-container {
                padding: 15px 25px 15px 0;
            }
        }

        .button-container {
            padding-bottom: 1em;

            ::ng-deep .dx-button-has-text .dx-button-content {
                padding: 5px 10px;
            }

            ::ng-deep .dx-button-mode-contained .dx-icon {
                display: inline-block;
                width: 24px;
                margin-right: .2em;

                font-size: 1em;
                color: $white-color;
            }
        }
    }
}

::ng-deep .dx-list:not(.dx-list-select-decorator-enabled) .dx-list-item.dx-state-focused {
    background-color: #ccc;
}

