<div class="list-wrapper">
    <div class="list-container">
        <div class="button-container d-flex">
            <dx-button
                text="New Project"
                icon="plus">
            </dx-button>
            <dx-button
                    class="ml-3"
                    text="Filter"
                    icon="filter">
            </dx-button>
        </div>

        <dx-list
                class="list-project-container"
                [dataSource]="dataSource">
            <div *dxTemplate="let item of 'item'">
                <app-project-item></app-project-item>
            </div>
        </dx-list>

        <div class="d-flex justify-content-end">
            <dx-button class="previous-button"
                       text="Previous" (onClick)="prevClick($event)">
            </dx-button>
            <dx-button class="ml-3"
                       text="Next" (onClick)="nextClick($event)">
            </dx-button>
        </div>
    </div>
</div>

