@import "variables";

:host {
    #kanban {
        white-space: nowrap;
        height: 100%;

        .list-wrap {
            height: 100%;


            ::ng-deep .dx-scrollview-content {
                position: absolute;
                height: 100%;
                width: 100%;
            }

            .list {
                width: 300px;
                height: 100%;
                margin: 5px 20px;
                background-color: $white-color;
                display: inline-block;
                vertical-align: top;
                white-space: normal;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-shadow: 8px 3px 25px 2px #ccc, -3px 2px 15px -2px #ccc;

                .list-content-wrapper {
                    ::ng-deep .scrollable-list {
                        height: 100%;
                        width: 300px;
                    }

                    .list-content {
                        margin: 0 10px;
                    }
                }
            }

            .list-title-wrap {
                margin: 0 10px;
                border-bottom: 1px solid #ccc;
            }

            .list-title {
                @include main-font-family;
                font-size: $font-size-title;
                font-weight: 600;
                padding: 10px;
                cursor: pointer;
                text-align: center;
            }

            .sortable-cards {
                min-height: 380px
            }

            .card-item {
                position: relative;
                background-color: white;
                box-sizing: border-box;
                width: 99%;
                padding: 10px 20px;
                cursor: pointer;
                border-bottom: 1px solid #ccc;
            }

            .card-subject {
                padding-bottom: 10px;
            }

            .card-assignee {
                opacity: 0.6;
            }

            .card-priority {
                position: absolute;
                top: 10px;
                bottom: 10px;
                left: 5px;
                width: 5px;
                border-radius: 2px;
                background: #86C285;
            }

        }
    }

}
