<ng-container>
    <dx-load-panel *ngIf="isProcessing"
                   [visible]="true" [showPane]="false"
                   [message]="'Processing'">
    </dx-load-panel>
    <div class="list-wrapper">
        <div class="list-container">
            <div class="button-container d-flex">
                <!--       Only Staff         -->
                <dx-button text="New Project" icon="plus"
                           (click)="onNewProject()">
                </dx-button>
                <dx-button id ="filterBtn" class="ml-3" text="Filter" icon="filter"
                           (click)="onOpenFilterStatus()">
                </dx-button>
            </div>

            <dx-list #list
                     class="list-project-container"
                     [dataSource]="dataSource"
                     itemTemplate="listItem">
                <div *dxTemplate="let item of 'listItem'">
                    <app-project-item [project]="item"></app-project-item>
                </div>
            </dx-list>

            <div class="d-flex justify-content-end btn-pagination-container">
                <dx-button #prevBtn class="previous-button" [disabled]="true"
                           text="Previous" (onClick)="prevClick($event)">
                </dx-button>
                <dx-button #nextBtn class="ml-3"
                           text="Next" (onClick)="nextClick($event)">
                </dx-button>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="isOpenProjectDetailPopup">
    <app-project-info
            [(visible)]="isOpenProjectDetailPopup"
            [project]="newProject"
            (onSuccess)="getProjects()"
            (onCancel)="cancelPopup($event)">
    </app-project-info>
</ng-container>

<ng-container *ngIf="isOpenFilterStatusPopup">
    <dx-popover target="#filterBtn"
            [(visible)]="isOpenFilterStatusPopup"
            [closeOnOutsideClick]="true">
        <div class="popover-status">
            <div class="popover-title">Status</div>
            <div *ngFor="let status of projectFilterStatus"
                 class="filter-content"
                (click)="changeProjectStatus(status.value)">
                <div [ngClass]="status.isChecked ? 'filter-status active' : 'filter-status'">
                    <div>{{ status.text }}</div>
                    <i class="fas fa-check" *ngIf="status.isChecked"></i>
                </div>
            </div>
        </div>
    </dx-popover>
</ng-container>

<!--
<div>Status</div>
            <dx-check-box [(value)]="PROJECT_FILTER_TYPE.isOpen" text="Open" class="mr-3" (onValueChanged)="changeProjectStatus()">
            </dx-check-box>
            <dx-check-box [(value)]="PROJECT_FILTER_TYPE.isClose" text="Close" (onValueChanged)="changeProjectStatus()">
            </dx-check-box>
-->