<div class="project-item-container">
    <div class="project-info-container d-flex">
        <div class="amount-info">
            <i class="fas fa-stream font-icon"></i>
            <span>Tasks </span>
            <span>(20/40)</span>
        </div>
        <div class="amount-info ml-3">
            <i class="far fa-user font-icon"></i>
            <span>Members </span>
            <span>(10)</span>
        </div>
        <div class="amount-info ml-3">
            <i class="fas fa-stopwatch font-icon"></i>
            <span>Milestone </span>
            <span>(2)</span>
        </div>
        <div class="open-status ml-3">
            Open
        </div>
    </div>

    <div class="project-detail-container">
        <div class="project-image-container">
          <!--      <img src="" width="50" height="50>-->
            <div class="project-name-image">
              Sales Management
            </div>
        </div>
        <div class="project-detail">
            <div class="project-name">
                Sales Management
            </div>
            <div class="client-info">
                <span>Client: </span>
                 <span>John</span>
            </div>
            <div>
                <span>Start Date: </span>
                <span>20/10/219</span>
            </div>
            <div>
                <span>End Date: </span>
                <span>8/6/2020</span>
            </div>
        <div>
            <span>Description: </span>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod ...</span>
        </div>
    </div>
    </div>
</div>
