<div class="user-panel">
  <div class="user-info" *ngIf="currentUser">
    <div id="imageContainer" class="image-container" (click)="toggleContextMenu()">
      <div class="user-image d-flex justify-content-center">
        <ng-container *ngIf="currentUser.avatarImg">
          <img src="{{currentUser.avatarImg}}">
        </ng-container>
        <ng-container *ngIf="!currentUser.avatarImg">
          <div class="name-avatar">{{currentUser.nameAvatar}}</div>
        </ng-container>
      </div>
    </div>

    <div class="user-name">{{currentUser.fullName}}</div>
  </div>
  <dx-context-menu
    [items]="menuItems"
    target="#imageContainer"
    [position]="{ my: 'top left', at: 'bottom left' }"
    [visible]="isOpenMenu"
    cssClass="user-menu">
  </dx-context-menu>
</div>
